---
import Layout from "@layout/layout.astro"
import '@styles/blog.css'
---

<Layout title="My personal blog">

    <main class="home-container"> 
        <div class="m-[0 auto] mb-4">
                <h1>What’s Next?</h1>
                <p>Turn the page and find out.</p>
        </div>

        <slot />
    </main>
</Layout>
