---
import Layout from '@layout/layout.astro'
import Reply from "@assets/svg/reply.svg";
import ReplyAll from "@assets/svg/reply-all.svg";
import '@styles/blog.css'

interface Props {
    previous: string
    title: string
    date: string
}
const { previous, title, date } = Astro.props
---

<Layout title={`RP0039 |Blog - ${title}`}>

      <main class="mt-4 px-[3%] grid justify-center">
         <article class="post-container">
            <div style="line-height: 15px;">
              <h2 class="text-3xl max-lg:text-2xl max-sm:text-xl font-semibold px-6">{title}</h2>
              <p class="px-3 mb-4 font-medium max-md:text-[13px]">{date}</p>
            </div>

            <div class="px-3 mb-3 text-pretty text-lg max-lg:text-[15px] max-sm:text-[12px]">
                <slot />
            </div>
         </article>
      </main>

      <footer id="Post" class="buttons p-4">
        <a href={`/${previous}`} class="hover:scale-105">
          <Reply class="size-8" />  PREVIUS 
        </a>
        <a href="/blog" class="hover:scale-105">
          <ReplyAll class="size-8" />  HOME 
        </a>
      </footer>

</Layout>
