---
import Layout from '@layout/layout.astro'

interface Props {
    previous: string
    title: string
}
const { previous, title } = Astro.props
---

<Layout title={`RP0039 |Blog - ${title}`}>

      <main class="mt-[1em]">
         <article class="post-container">
                <h2 class="title" style="text-wrap:wrap;">{title}</h2>
            <div id="mini-scroll">
                <div class="prose">
                    <slot />
                </div>
            </div>
         </article>
      </main>

      <footer class="buttons" style="padding:15px;">
        <a href={`/${previous}`}>
          <i class="fa-solid fa-arrow-left"></i>  PREVIUS 
        </a>
        <a href="/blog">
          <i class="fa-solid fa-home"></i>  HOME 
        </a>
      </footer>

</Layout>

<style>
  .post-container {
    box-sizing: none;
    min-width: 250px;
    max-width: 600px;
    padding: 16px 12px;
    border:2px solid;
    box-shadow:5px 5px 0;
  }
  .buttons a {
    color:inherit;
    border:2px solid;
    padding:8px;
    margin-top:20px;
  }
  .buttons a:hover {
    color: palevioletred;
    transition: color .5s ease;
  }
  .buttons {
    display:flex;
    justify-content: center;
    gap:1.5em;
  }
</style>