.blog-container {
    margin-top: 1.5rem  
}

.Blog-Card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    padding: 0 5%;
    gap: 1.5em;
    justify-items: center;
}

.post-container, .Blog-card {
    box-sizing: none;
    max-width: 700px;
    padding: 16px 12px;
    background: var(--gradient);
    border: 1px solid var(--border);
    box-shadow: var(--box-shadow);
}
.Blog-card {
    width: max(250px, 100%);
}

@media screen and (max-width: 620px) {
    .Blog-Card-container {
        grid-template-columns: 1fr;
    }
    .Blog-card {
        max-width: 400px;
    }
}

.buttons a {
    border: 1px solid var(--border);
    padding:8px;
    margin-top:20px;
    transition: var(--transition)
}

.buttons {
    display:flex;
    justify-content: center;
    gap:1.5em;
}
