@import "tailwindcss";


body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--d-bg);
    font-family: Arial, sans-serif;
    color: var(--text-muted);
    padding: max(3rem, 1.5rem) min(5%, 10%, 30%) 0;
}
h1, h2, h3, h4 {
    color: var(--text);
}
/* Header Componente reutilizable */
header {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap:0.5em;

    border-bottom: 1.3px solid var(--border);
    background-color: var(--l-bg);
}
header h1, #Blog-title { font-size: max(2rem, 3vw);}
header { font-size: max(1rem, 1.5vw);}
header ul {
    display: flex;
    gap: max(1rem, 2.5vw);
    list-style: none;
    padding: 0;
    margin: 0;
}
header li a {
    display: flex;
    align-items: center;
    gap: .15rem;
    transition: var(--transition);
}
header li a:hover {
    color: var(--text);
}
header p {
    text-align: center;
}
header a {
    transition: var(--transition);
}

/* CSS de Botones importantes */
#button {
    padding: 0.25rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border);
    background-color: var(--d-bg);
    box-shadow: var(--box-shadow); 
}

/* Variables */
:root {
    --text: hsl(0, 0%, 5%);
    --text-muted: #4d4d4d;
    --l-bg: hsl(0, 0%, 100%);
    --b-bg: hsl(0, 0%, 95%);
    --d-bg: hsl(0, 0%, 90%);

    --highlight: hsl(0, 0%, 100%);
    --gradient: linear-gradient(0deg, var(--b-bg) 95%, var(--l-bg));
    --transition: .3s ease;
    
    --border: hsl(0, 0%, 30%);
    --border-card: solid 1px var(--b-bg);
    --box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
}
/*@media (prefers-color-scheme: dark) {
    :root {
        --color: #ffffff;
        --background-color: #000000;
        --border-color: #ffffff;

        --header-color: #2c2c2c;
        --button-color: #363636;
        --m-boxShadow: 3px 4px blue;    
        --l-boxShadow: #ffffff 0px 1.5px 2px;
    }
}
/* Media Query */
@media screen and (min-width: 1000px) {
    body {
        padding: max(3rem, 1.5rem) 0 0;
        max-width: 1500px;
        margin: 0 20%;
    }
}
@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
    }
    header p {
        text-align: left;
    }
}

/* Footer to Top */
#Top a {
    border: var(--border-card);
    background-color: hsl(0, 0%, 97%);
    box-shadow: var(--box-shadow); 
    transition: var(--transition);
}
#Top a:hover {
    background-color: var(--l-bg);
}
/* Footer Post */
#Post a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text);
    background-color: var(--l-bg);
}
/* Footer Index */
#Extra a {
    border: 2px solid var(--border);
    background-color: var(--l-bg);
    color: var(--text);
    transition: var(--transition);
    box-shadow: var(--box-shadow);
}