---
import BlogLayout from "@layout/post/blog_layout.astro";
import '@styles/blog.css';
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

type BlogPost = CollectionEntry<'blog'>;

const blogData = await getCollection('blog');
---

<BlogLayout title="RP0039 - My personal blog">
    <section aria-label="Links to all of my entries." class="Blog-Card-container">
        {
            blogData.map((post: BlogPost) => {
                const { date, description, title } = post.data;

                return (
                    <article>
                        <a href={`/blog/${post.id}`}>
                            <h2>{title}</h2><h4>{date}</h4>
                        </a>
                        <p>{description}</p>
                    </article>
                );
            })
        }
    </section>
</BlogLayout>