---
import Layout from "@layout/layout.astro"
import Topic from "@components/index/topic.astro"
---

<Layout title="RP0039 - Extra Content">
    <Topic 
    title="View my Guestbook"
    description="Leave me a message"
    >
        <a href="https://rp0039.atabook.org">
        <i class="fa-solid fa-book-open"></i>
        </a>
    </Topic>
</Layout>