---
import Layout from "@layout/layout.astro";
import Topic from "@components/index/topic.astro";
import Totop from "@components/toTop.astro";
---

<Layout title="Extra Content">
    <a id="Guestbook" href="https://rp0039.atabook.org">
        <Topic 
        title="View my Guestbook"
        description="Leave me a message"
        >
        </Topic>
    </a>

    <a href="/extras/updates">Updates</a>
    <Totop />
</Layout>