---
const { title, description } = Astro.props
---

<article>
    <h1 class="text-center text-xl font-bold">{title}</h1>
    <p class="pl-4 text-justify text-lg whitespace-pre-line">{description}</p>
    <slot />
</article>

<style>
    @media screen and (max-width: 768px) {
        p {
            font-size: 14px;
        }
    }
</style>