---
import TopSvg from "@assets/svg/toTop.svg";
---

<footer id="Top" class="my-5 flex justify-center">
    <a class="font-bold font-3xl p-1.5 rounded-full hover:scale-105" href="#top">
        <TopSvg class="size-12 font-extrabold" />
    </a>		
</footer>