---

---

<main class="gap-4">
    <slot />
</main>

<style>
    main {
        display:grid;
        grid-template-columns: 1fr 30%;
        justify-items: center;
        align-items: center;
    }
    @media screen and (max-width: 768px) {
        main {
            grid-template-columns: 1fr;
        }
    }
</style>