---
interface Props {
    url?: string[];
}

const { url }: Props = Astro.props
---

<section class="mx-[7%] max-lg:mx-[3%]">
    <h1 class="w-full font-extrabold text-3xl text-center">STAMPS</h1>
    <article class="p-2 flex flex-wrap justify-center gap-2.5">
        {url && url.map((stamp) => (
        <img src={stamp} alt="A Really funny image" class="size-20" />
        ))}
    </article>
</section>

<style>
    section {
        background-color: var(--l-bg);
        border: var(--border-card);
    }
    article {
        box-shadow: var(--box-shadow);
    }
    section {
        grid-column: 1 / -1;
    }
</style>