---
interface Props {
    url?: string[];
}

const { url }: Props = Astro.props

---

<section class="pr-4">
    <h1 class="w-full font-medium text-2xl text-center">STAMPS</h1>
    <article class="border-2 p-2 flex flex-wrap gap-1">
        {url && url.map((stamp) => (
        <img src={stamp} alt="A Really funny image" class="size-20" />
        ))}
    </article>
</section>

<style>
    h1 {
        font-family: ArchivoBlack;
    }
    article {
        box-shadow: 10px 10px blue;
    }
</style>