---
interface Props { title: String; }
const { title } = Astro.props

import '@styles/global.css'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="https://files.catbox.moe/6zt15e.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{title}</title>
</head>
<body class="py-12 gap-4">
		<header>
			<a href="/"><h1 class="font-bold">RP0039</h1></a>
			<ul>
				<li><a href="/homepage">Homepage</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/log">Log</a></li>
			</ul>
		</header>
        <slot />

	<script src="/src/script/togglemode.js"></script>
</body>
</html>
