---
interface Props { title: String; }
const { title } = Astro.props

import Header from "@components/header.astro";
import '@styles/global.css'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="https://files.catbox.moe/6zt15e.png">
    <title>{`RP0039 - ${title}`}</title>
</head>
<body class="gap-4">
	
	<Header />
	<slot />

	<script src="/src/script/togglemode.js"></script>
</body>
</html>
