---
interface Props { title: String; }
const { title } = Astro.props

import Header from "@components/header.astro"

import '../styles/global.css'
import '/src/styles/style.css'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="https://files.catbox.moe/6zt15e.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{title}</title>
</head>
<body class="flex flex-col items-center py-12">
    <div class="fondo">
		<Header 
		url={["/src/pages/blog.html"]}
		title={["Blog"]}
		/>
        <slot />
    </div>

	<script src="/src/script/togglemode.js"></script>
</body>
</html>

<style>
	body {
        color: black;
		font-family: system-ui;
	}
</style>