---
interface Props { title: String; }
const { title } = Astro.props

import Header from '@components/header.astro'
import '../styles/global.css'

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{title}</title>
</head>
<body class="flex flex-col items-center py-12">
    <div class="fondo">
        <Header />
        <slot />
    </div>
</body>
</html>

<style>
	@font-face {
		font-family: ArchivoBlack;
		src: url("/src/assets/font/ArchivoBlack-Regular.ttf");
	}
	@font-face {
		font-family: BebasNeue;
		src: url("/src/assets/font/BebasNeue-Regular.ttf");
	}

	body {
        color: black;
        width: 100%;
		font-family: system-ui;
	}
</style>